
@import "tailwindcss";

@theme {
    --prefix: tw;
    --font-unbounded: 'Unbounded', sans-serif;
    --font-inter: 'Inter', sans-serif;

    --breakpoint-laptop-projects: 1024px;

    --keyframes-edge-slide: {
        to { 
            opacity: 1; 
            transform: translateX(0); 
        }
    }
    --animate-edge-slide: edge-slide 1s cubic-bezier(0.16, 1, 0.3, 1) both;
}

@media (min-width: 2000px) {
  .desktop {
    display: flex;
  }

  .macbook{
    display: none;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html{
    scroll-behavior: smooth;
    color-scheme: dark;
}

:root{
    --whiteColor-- : #F5F5F7;
    --blackColor-- : #0B0C10;
    --blueColor--: #1A2B4C;
    --greColor--: #868686;
}

.tw-menu-header{
    border-width: 0px 0px 1px 0px;
    border-color: var(--whiteColor--);
}

.tw-footer {
    border-width: 1px 0px 0px 0px;
    border-color: var(--whiteColor--);
}

body {
    margin: 0; 
    background-color: var(--blackColor--); 
    position: relative;
    overflow-x: hidden; 
}

.tw-bg{
    opacity: 20%;
    content: "";
    position: absolute;
    top: -100px;
    left: -50%;
    width: 10000px;
    height: 10000px; 
        
    background-image: 
        linear-gradient(to right, var(--whiteColor--) 1px, transparent 1px),
        linear-gradient(to bottom, var(--whiteColor--) 1px, transparent 1px);
    background-size: 350px 350px; 
        
    transform: rotate(45deg);
    transform-origin: top center;
        
    z-index: -1; 
    pointer-events: none;
}


.tw-main{
    position: relative;
    width: 100vw;
    height: auto; 
    min-height: 100dvh;
    overflow-x: hidden;
}

.tw-bg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Меняем inset: 0 на min-height, чтобы блок мог свободно расти вниз */
    min-height: 100%; 
    max-height: 4000px;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
}
